<section id="search-opt">
	<h1>Compare by entering the city names</h1>
	<div id="search form">
		<form name="search" method="get">
			<input typ="text" name="city1" placeholder="City Name, State" required/>
			<b><em>VS</em></b>
			<input typ="text" name="city2" placeholder="City Name, State" required/>
			<input type="submit" name="compare" value="Compare" />
		</form>
	</div>
	<br />
	<h1>- OR -</h1>
	<button onclick="initialize()">Use Map to Select</button>
	<div id="map_canvas"></div>
</section>

