<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Relocator App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body> 
  
  <div ng-controller="LoginForm">
  <a href="#">Sign In</a>
  <br>
  
  	<form name="UserLogin" class="login-form" ng-submit="login()">
  		<label>Username</label>
  		<input type="text" placeholder="username" ng-model="username" required/>
  		
  		<label>Password</label>
  		<input type="password" placeholder="password" ng-model="password" required/>
  		
      	<input type="submit" value="Login" name="Login" />
  	</form>
  	
  	<h2>--- DEBUG VIEW ---</h2>
  	<p>Username: {{username}}</p>
  	<p>Password: {{password}}</p>
  	<p>Results:</p>
  	<p>{{status}}</p>
  	<pre>{{loginResults}}</pre>
  	<hr>
  	
  </div>
  	
  <div ng-controller="MainCont">
  <ul>
  	<li><a href="#/welcome">Welcome</a></li>
  	<li><a href="#/compare">Compare Cities</a></li>
  </ul>
  
  <div ng-view></div>
  
  </div>
  
  <footer>
  <span>&copy;2013 Deion O'Garro</span>
  </footer>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBUyh4iYVk_MpAiwzDNm5gnUkjzabJn8AU&sensor=false&language=en"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/angular-google-maps.js"></script>
</body>
</html>
